.formas_de_contacto ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.formas_de_contacto {
    margin-bottom: 2rem;
}

.text {
    margin: 1rem auto;
    text-align: center;
    max-width: 70%;
    margin-top: 200px;
}

.solicitud_informacion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.solicitud_informacion fieldset {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
}

.solicitud_informacion label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.solicitud_informacion fieldset input, 
.solicitud_informacion fieldset select {
    padding: 0.4rem;
    width: 100%;
    border: 3px solid rgb(191, 7, 173);
    border-radius: var(--border-radius);
}

.solicitud_informacion .submit {
    width: 300px;
    margin: 2rem 0 1rem 0;
    border-radius: var(--border-radius);
    background: rgb(191,7,173);
    background: linear-gradient(45deg, rgba(191,7,173,1) 0%, rgba(171,200,10,1) 100%);
    border: none;
    padding: 1rem 2rem;
    align-self: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.solicitud_informacion .submit:hover {
    cursor: pointer;
}

.contacta_con_nosotros {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -20px;
}

.solicitud_informacion legend {
    text-align: center;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: black;
    background: rgb(41,230,39);
    background: linear-gradient(45deg, rgba(41,230,39,1) 0%, rgba(230,249,15,1) 100%);
    border-radius: 2rem;
}

.solicitud_informacion fieldset:nth-child(3) input, 
.solicitud_informacion fieldset:nth-child(3) select {
    margin-top: 1rem;
}