main {
    width: var(--elements-width);
    max-width: var(--maximum-width);
    padding: 2rem;
    margin: calc(var(--header-height) + 2rem) auto 0 auto;
    background: var(--color-for-background);
    border-radius: var(--border-radius);
}

.mis_productos{
    width: 100%;
    border-collapse: collapse;
}

.mis_productos tr {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.mis_productos tr:last-child {
    margin-bottom: 0;
}

.mis_productos figure {
    display: flex;
    position: relative;
    margin: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.mis_productos figure:hover img{
    opacity: 0;
}

.mis_productos figure:hover {
    cursor: pointer;
}

.mis_productos img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    aspect-ratio: 4/3;
    object-fit: cover;
    transition: opacity 0.2s linear;
}

.mis_productos figcaption {
    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    padding: 0 0.5rem;
}

.mis_productos strong {
    font-size: 1.25rem;
    text-align: center;
}

@media (max-width: 960px){
    main {
        margin: 2rem auto 0 auto;
        max-width: 100%;
        width: 95%;
    }

    .mis_productos tr {
        flex-direction: column;
    }
}